extends layout

block content
    h1= "Edit Employee"
    div.newemployee
        form( method="post")
            
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editEmployeeTitle", value= employee.title)
                div
                    span.label Name :
                    input(type="text", name="name", id="editEmployeeName", value= employee.name)
                div.col
                    span.label 图片：
                    input(type="file", id="uploadFile", name="uploadFile", value=employee.pic)
                    input(type="hidden", name="pictype", value="")
                div.result
                    input(type="hidden", id="upFile", name="upFile" value=employee.pic)
                    img(src=employee.pic)
                div#editEmployeeSubmit
                    if employee.name
                      input(type="submit", value=" Update ")
                    else
                      input(type="submit", value=" Save ")
    div.cutPic
        div#clipArea
        button#clipBtn 截取
        //div#view
    a(href="/")!= "Back to Employee List"
    script(type="text/javascript", src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js")
    script(type="text/javascript", src="/javascripts/hammer.min.js")
    script(type="text/javascript", src="/javascripts/iscroll-zoom-min.js")
    script(type="text/javascript", src="/javascripts/lrz.all.bundle.js")
    script(type="text/javascript", src="/javascripts/PhotoClip.js")
    script(type="text/javascript", src="/javascripts/index.js")