extends layout

block content
    h1= "Edit Employee"
    div.newemployee
        form( method="post")
            
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editEmployeeTitle", value= employee.title)
                div
                    span.label Name :
                    input(type="text", name="name", id="editEmployeeName", value= employee.name)
                div.col
                    span.label 图片：
                    input(type="file", id="uploadFile", name="uploadFile", value=employee.pic)
                div.result
                    input(type="hidden", id="upFile", name="upFile" value=employee.pic)
                    img(src=employee.pic)
                div#editEmployeeSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Employee List"
    script(type="text/javascript", src="http://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js")
    script(type="text/javascript", src="/javascripts/index.js")